html,body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-size: 20px;
  background-color:white;
  width:90%;
  margin: auto;
}

h1{
  margin-top: 2rem;
}
#subtitle{
  font-style: italic;
  text-align: center;
  font-size: 16px;
  width: 80%;
  margin-left: 5rem;
}
h2{
  margin-bottom: 1.5rem;
  margin-top: 5rem;
}

header img{
  width: 60%;
  margin: 0 0 0 10rem;
}

h1{
  text-align: center;
  color:palevioletred;
}

.byline p{
  font-size: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.byline{
  margin-bottom: 3rem;
}

.navLinks{
  list-style-type: none;
  text-align: center; 
  background-color: palevioletred;
}
.navLinks li {
  display: inline-block;
  padding: 0rem 3rem 0 1.5rem;
 }
.navLinks a{
  font-size: 16px;
  color: white;
  text-decoration: none;
  }

.head3{
  width:85%;
  margin-left: 3rem;
}

.flourish-embed{
  width: 80%;
  margin-bottom: 0.5rem;
  align-items: center;
  margin-left: 3rem;
}
#above-map{
  margin-bottom: 2rem;
}

figure img {
  width: 100%;
}

figcaption{
  font-size: 12px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}


footer{
  background-color: palevioletred;
  font-size: 16px;
  color: white;
  text-align: center;
  margin: 3rem 0 0 0;
}







